@import './resets';
@import './variable';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background : $rock-color;
    color: $text-color;
    
}

.main{
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;
    
    #{&}_para {
        font-weight: weight(regular);

        &:hover {
            color: black;
        }
    }
}